name: Build Windows EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build EXE
      run: |
        pyinstaller app_gui.py --onefile --noconsole --name SoccerPredictor --add-data "mvp_predictor.py;."


    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: SoccerPredictor-Windows
        path: dist/SoccerPredictor.exe
